.container {
    display: flex;
    height: 200px;
}

.left {
    flex: 1;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.right {
    flex: 1;
    background: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .left {
        background: coral;
    }

    .right {
        background: pink;
    }
}